body {
      background-color: #EAEAEA;
}
.container {
    position: relative;
  //=============== navigation bar =================
    .nav-bar {

          position: absolute;
          top : 15px ;
          right : 0;

          .list-group {

               border-radius: 10px;
               padding : 0 ;
               margin : 0 ;
               list-style: none;
               opacity : 0.6;
               a {

                    font-weight: lighter;
                    text-decoration: none;
                    display: inline-block;
                    color : black ;
                    display: inline-block;
                    padding : 14px 16px;
                    text-align: center;
                    :hover {
                         color : #5998BF;
                    }

               }
               .dropdown {
                      list-style: none ;
                      a {
                          display : none;
                      }
               }
               input[type=text]{
                       width : 250px;
                       padding: 12px 15px 12px 20px;
                       box-sizing: border-box;
                       border: 2px solid #ccc;
                       border-radius: 10px;
                       font-size: 12px;
               }
          }
    }
// ================= MIDDLE CONTENT ================

    .middle-content {
          position : absolute;
          top : 120px ;
          left : 5% ;
          right : 5%;

          fieldset {
              border-radius: 30px;
              box-shadow: 5px 4px 5px grey;
              legend {
                    text-align: center;
              }
              p{
                  color : black;
                  font-family: 'Open Sans Condensed', sans-serif;
                  font-size : 20px;
              }

          }

    }
//================= ACTIVITIES ===============

    .activities {
        position: absolute;
        top : 400px ;
        width: 100%;
        left : 5%;
        fieldset {
          margin-top: 20px;
          margin-right: 5px;
          margin-bottom: 50px;
          float : left;
          width : 40%;
          border-radius: 30px;
          box-shadow: 5px 4px 5px grey;
        }
        .main-content {
            .things-to-do {
                width : 20%;
                margin-right: 20px;

                #customers {
                    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                    border-collapse: collapse;
                    width: 100%;

                    td , th{
                        border: 1px solid #ddd;
                        padding: 8px;
                    }
                    tr:nth-child(even) {
                          background-color: #f2f2f2;
                          :hover { background-color: #ddd;}
                    }
                    th {
                          padding-top: 6px;
                          padding-bottom: 6px;
                          text-align: left;
                          background-color: #EAEAEA;
                          color: black;
                    }

                  }
                }
            .activity-container {
                    width : 64% ;
                    .activity {
                        margin-left: 30px;

                        img {
                              border-radius: 15px;
                        }
                    }
          }

        }
    }
}
